@mixin button{
        text-align: center;

        button{
            border: 2px solid green;
            background-color: green;
            color: whitesmoke;
            padding:0.4rem;
            cursor: pointer;
            font-size: 1rem;
            border-radius: 0.3rem;
            margin: 0.3rem 0rem;
          }
}

:export{
    button: string
}