@use "buttons";

@mixin form{
    width: 60%;
    margin-inline: auto;

    .inputGroup{
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        padding: 5px 0px;

        span{
            padding: 5px 0px;
            font-size: 20px;
        }

        input{
            padding: 10px;
            outline: none;
            font-size: 20px;
          }
    }

    .button{
        @include buttons.button;
    }
    
   
}

:export{
    form: string
}

